<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386991523869-mda2chjjrt130vacr8uii67lp3415iik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386991523869-mda2chjjrt130vacr8uii67lp3415iik</string>
	<key>API_KEY</key>
	<string>AIzaSyCh8pTwjhYrrTHwSZ7vSve6V09FnRbDEZM</string>
	<key>GCM_SENDER_ID</key>
	<string>386991523869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fireappflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>fireappflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386991523869:ios:1f9322267d809d85a51ef4</string>
</dict>
</plist>